<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Verification Email</title>
  </head>
  <body>
    <p>
      Please verify your email using the following link:
      <a href="https://<%= domain %>/user/verify/<%= code %>" target="_blank">
        https://<%= domain %>/user/verify/<%= code %>
      </a>
    </p>
    <p>
      or paste this link directly in your browser: https://<%= domain %>/user/verify/<%= code %>
    </p>
  </body>
</html>
